<section id="dashbaord">
  <div class="contain-fluid">
    <div class="heading">
      <div class="text">
        <h3>Add New Vehicle Category</h3>
        <ul>
          <li><a href="">Home</a></li>
          <li class="active"><a href="">New Vehicle Category</a></li>
        </ul>
      </div>
      <div class="text text2">
        <a href="blog.php" class="webBtn mdBtn greenBtn"
          ><i class="fa-regular fa-arrow-left"></i>Cancel</a
        >
      </div>
    </div>
    <div class="dashTable">
      <div class="card editor_card">
        <div class="card-header">
          <h5>Vehicle Category Block</h5>
        </div>
        <div class="card-body full_width">
          <form
            id="addPromoCodeForm"
            class="frmAjax"
            action="/admin/add-vehicle-categories"
            method="post"
            enctype="multipart/form-data">
            <div class="row">
              <div class="col-md-9">
                <div class="row switch-showcase">

                  <div class="col-md-3">
                    <div class="card">
                      <div class="card-body preview">
                        <h5 class="card-title">Image</h5>
                        <div class="blog_img">
                          <img
                            src="images/no-image.svg"
                            class="card-img-top"
                            alt="" />
                        </div>
                        <div class="in-upload">
                          <button type="button" class="uploadImg">
                            <i class="fa-regular fa-image"></i>choose another image
                          </button>
                          <input
                            type="file"
                            name="vehicle_category_image"
                            class="uploadFile" />
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="txtGrp media">
                      <label class="form-label">Status</label>
                      <div
                        class="txtGrp-body text-end icon-state switch-outline">
                        <select name="status" class="txtBox" required>
                          <option value="1">Active</option>
                          <option value="0">Inactive</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  

                  <div class="col-md-6">
                    <div class="txtGrp">
                      <label class="form-label" for="title"
                        >Vehicle Name<abbr class="required" title="required"
                          >*</abbr
                        ></label
                      >
                      <input
                        class="input"
                        id="title"
                        type="text"
                        name="vehicle_name" 
                                         />
                    </div>
                  </div>
                  
                </div>
              </div>
            </div>
            <div class="card-footer text-end">
              <button class="webBtn" type="submit">
                Submit Content <i class="spinner hidden"></i>
              </button>
            </div>
          </form>
        </div>
        <hr />
      </div>
    </div>
  </div>
</section>
