<section id="dashbaord">
  <div class="contain-fluid">
    <div class="heading">
      <div class="text">
        <h3>Add New Testimonial</h3>
        <ul>
          <li><a href="/admin/dashbaord">Dashboard</a></li>
          <li class="active"><a href="">New Testimonial</a></li>
        </ul>
      </div>
      <div class="text text2">
        <a href="/admin/testimonial" class="webBtn mdBtn greenBtn"
          ><i class="fa-regular fa-arrow-left"></i>Cancel</a
        >
      </div>
    </div>
    <div class="dashTable">
      <div class="card editor_card">
        <div class="card-header">
          <h5>Testimonial Block</h5>
        </div>
        <div class="card-body full_width">
          <form
            id="addTestimonialForm"
            class="frmAjax"
            action="/admin/add-testimonials"
            method="post"
            enctype="multipart/form-data">
            <div class="row">
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-4">
                    <div class="card">
                      <div class="card-body preview">
                        <h5 class="card-title">Image</h5>
                        <div class="blog_img">
                          <img
                            src="/images/no-image.svg"
                            class="card-img-top"
                            alt="" />
                        </div>
                        <div class="in-upload">
                          <button type="button" class="uploadImg">
                            <i class="fa-regular fa-image"></i>choose another
                            image
                          </button>
                          <input
                            type="file"
                            name="testi_image"
                            class="uploadFile" />
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-8">
                    <div class="row switch-showcase">
                      <div class="col-md-2">
                        <div class="txtGrp">
                          <label class="form-label">Status</label>
                          <div
                            class="txtGrp-body text-end icon-state switch-outline">
                            <select name="status" class="input" required>
                              <option value="1">Active</option>
                              <option value="0">Inactive</option>
                            </select>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-5">
                        <div class="txtGrp">
                          <label class="form-label" for="title"
                            >Name<abbr class="required" title="required"
                              >*</abbr
                            ></label
                          >
                          <input
                            class="input"
                            id="title"
                            type="text"
                            name="title" />
                        </div>
                      </div>
                      <div class="col-md-5">
                        <div class="txtGrp">
                          <label class="form-label" for="title"
                            >Designation<abbr class="required" title="required"
                              >*</abbr
                            ></label
                          >
                          <input
                            class="input"
                            id="designation"
                            type="text"
                            name="designation" />
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="txtGrp">
                          <label class="form-label" for="detail"
                            >Description<abbr class="required" title="required"
                              >*</abbr
                            ></label
                          >
                          <textarea
                            class="ckEditor"
                            name="description"
                            id="editor1"></textarea>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                
              </div>
            </div>
            <div class="card-footer text-end">
              <button class="webBtn" type="submit">
                Update Content <i class="spinner hidden"></i>
              </button>
            </div>
          </form>
        </div>
        <hr />
      </div>
    </div>
  </div>
</section>
