<section id="dashbaord">
  <div class="contain-fluid">
    <div class="heading">
      <div class="text">
        <h3>Add New</h3>
        <ul>
          <li><a href="">Home</a></li>
          <li class="active"><a href="">New Form</a></li>
        </ul>
      </div>
      <div class="text text2">
        <a href="/admin/sub-admins" class="webBtn mdBtn greenBtn"
          ><i class="fa-regular fa-arrow-left"></i>Cancel</a
        >
      </div>
    </div>
    <div class="dashTable">
      <div class="card editor_card">
        <div class="card-header">
          <h5>Sub Admin</h5>
        </div>
        <div class="card-body full_width">
          <form
            id="addFaqForm"
            class="frmAjax"
            action="/admin/add-sub-admin"
            method="post"
            enctype="multipart/form-data">
            <div class="row">
              <div class="col-md-12">
                <div class="row switch-showcase">
                  <div class="col-md-6">
                    <div class="txtGrp">
                      <label class="form-label">Status</label>
                      <div
                        class="txtGrp">
                        <select name="status" class="input" required>
                          <option value="1">Active</option>
                          <option value="0">Inactive</option>
                        </select>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="txtGrp">
                      <label class="form-label" for="title"
                        >Name<abbr class="required" title="required"
                          >*</abbr
                        ></label
                      >
                      <input class="input" id="name" type="text" name="name" />
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="txtGrp">
                      <label class="form-label" for="title"
                        >Username<abbr class="required" title="required"
                          >*</abbr
                        ></label
                      >
                      <input class="input" id="user_name" type="text" name="user_name" />
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="txtGrp">
                      <label class="form-label" for="title"
                        >Password<abbr class="required" title="required"
                          >*</abbr
                        ></label
                      >
                      <input
                      type="password"
                      name="password"
                      id="pswd"
                      class="input"
                      placeholder="Password" />                    
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-footer text-end">
              <button class="webBtn" type="submit">
                Update Content <i class="spinner hidden"></i>
              </button>
            </div>
          </form>
        </div>
        <hr />
      </div>
    </div>
  </div>
</section>
