<form
  action="/admin/change-password"
  class="frmAjax"
  method="POST"
  id="changePasswordForm"
  autocomplete="off">
  <div class="blk changePassword">
    <div class="_header">
      <h3>Change Password</h3>
      <div class="info">
        <i class="fi-question-circle"></i>
        <div class="infoIn">
          <p class="bold">Your password must contain the following:</p>
          <ol class="_list2">
            <li>
              At least 8 characters in length (a strong password has at least 14
              characters)
            </li>
            <li>At least 1 letter and at least 1 number or symbol</li>
          </ol>
        </div>
      </div>
    </div>
    <div class="formBlk">
      <div class="row formRow">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-xx-4 txtGrp">
          <input
            type="password"
            name="password"
            id="pswd"
            class="txtBox"
            placeholder="Current Password" />
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-xx-4 txtGrp">
          <input
            type="password"
            name="npswd"
            id="npswd"
            class="txtBox"
            placeholder="New Password" />
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-xx-4 txtGrp">
          <input
            type="password"
            name="cpswd"
            id="cpswd"
            class="txtBox"
            placeholder="Confirm new Password" />
        </div>
      </div>
      <div class="bTn text-center">
        <!-- <button type="reset" class="webBtn">Cancel</button> -->
        <button type="submit" class="webBtn colorBtn">Change</button>
      </div>
    </div>
  </div>
</form>
