<section id="dashbaord">
  <div class="contain-fluid">
    <div class="heading">
      <div class="text">
        <h3>Dashboard</h3>
      </div>
    </div>
    <div class="grids">
      <div class="flex">
        <div class="col">
          <div class="inner">
            <h3>Total Riders</h3>
            <p>2,064</p>
          </div>
        </div>
        <div class="col">
          <div class="inner">
            <h3>Total Users</h3>
            <p>2,064</p>
          </div>
        </div>
        <div class="col">
          <div class="inner">
            <h3>Total Testimonials</h3>
            <p>2,064</p>
          </div>
        </div>
        <div class="col">
          <div class="inner">
            <h3>Total Team Members</h3>
            <p>2,064</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
