<section id="dashbaord">
  <div class="contain-fluid">
    <div class="heading">
      <div class="text">
        <h3>Dashboard</h3>
      </div>
    </div>
    <div class="grids">
      
      <div class="flex">
        
        <div class="col">
          <div class="inner primary-gradient">
            <div class="icon">
              <i class="fa-light fa-gauge"></i>
            </div>
            <h3>Total Riders</h3>
            <p><%= stats.riders %></p>
          </div>
        </div>
        <div class="col">
          <div class="inner warning-gradient">
            <div class="icon">
              <i class="fa-light fa-gauge"></i>
            </div>
            <h3>Total Users</h3>
            <p><%=stats.members%></p>
          </div>
        </div>
        <div class="col">
          <div class="inner secondary-gradient">
            <div class="icon">
              <i class="fa-light fa-comments"></i>
            </div>
            <h3>Total Messages</h3>
            <p><%=stats.messages%></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
