<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Admin - FastUK</title>
    <%- include('includes/site-master') %>
  </head>
  <body>
      <main id="main" class="main">
        <%- body %> 
      </main>
  </body>
</html>
