<section id="dashbaord">
  <div class="contain-fluid">
    <div class="heading">
      <div class="text">
        <h3>Manage Pages</h3>
        <ul>
          <li><a href="">Home</a></li>
          <li class="active"><a href="">Manage Pages</a></li>
        </ul>
      </div>
    </div>
    <div class="dashTable">
      <table class="dataTable display" id="basic-1">
        <thead>
          <tr class="table-scnd-row message-table">
            <th width="12%">
              <p>Sr#</p>
            </th>
            <th width="61%">
              <p>Name</p>
            </th>
            <th width="20%">
              <p>Action</p>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr class="bottom-cntnt" style="height: 61px">
            <td>
              <p>1</p>
            </td>
            <td>
              <p>Home</p>
            </td>
            <td>
              <div class="btn-group">
                <a href="/admin/pages/home" class="Bt-btn">
                  <i class="fa fa-pencil-square" aria-hidden="true"></i>Edit
                  Page
                </a>
              </div>
            </td>
          </tr>
          <tr class="bottom-cntnt" style="height: 61px">
            <td>
              <p>2</p>
            </td>
            <td>
              <p>About</p>
            </td>
            <td>
              <div class="btn-group">
                <a href="/admin/pages/about" class="Bt-btn">
                  <i class="fa fa-pencil-square" aria-hidden="true"></i>Edit
                  Page
                </a>
              </div>
            </td>
          </tr>
          <tr class="bottom-cntnt" style="height: 61px">
            <td>
              <p>2</p>
            </td>
            <td>
              <p>Contact Us</p>
            </td>
            <td>
              <div class="btn-group">
                <a href="/admin/pages/contact" class="Bt-btn">
                  <i class="fa fa-pencil-square" aria-hidden="true"></i>Edit
                  Page
                </a>
              </div>
            </td>
          </tr>
          <tr class="bottom-cntnt" style="height: 61px">
            <td>
              <p>4</p>
            </td>
            <td>
              <p>Privacy Policy</p>
            </td>
            <td>
              <div class="btn-group">
                <a href="/admin/pages/privacy-policy" class="Bt-btn">
                  <i class="fa fa-pencil-square" aria-hidden="true"></i>Edit
                  Page
                </a>
              </div>
            </td>
          </tr>
          <tr class="bottom-cntnt" style="height: 61px">
            <td>
              <p>5</p>
            </td>
            <td>
              <p>Terms & Conditions</p>
            </td>
            <td>
              <div class="btn-group">
                <a href="/admin/pages/terms-conditions" class="Bt-btn">
                  <i class="fa fa-pencil-square" aria-hidden="true"></i>Edit
                  Page
                </a>
              </div>
            </td>
          </tr>
          <tr class="bottom-cntnt" style="height: 61px">
            <td>
              <p>5</p>
            </td>
            <td>
              <p>Handling Charge Agreement</p>
            </td>
            <td>
              <div class="btn-group">
                <a href="/admin/pages/charge-aggreement" class="Bt-btn">
                  <i class="fa fa-pencil-square" aria-hidden="true"></i>Edit
                  Page
                </a>
              </div>
            </td>
          </tr>
          <tr class="bottom-cntnt" style="height: 61px">
            <td>
              <p>6</p>
            </td>
            <td>
              <p>Help & Support</p>
            </td>
            <td>
              <div class="btn-group">
                <a href="/admin/pages/help-support" class="Bt-btn">
                  <i class="fa fa-pencil-square" aria-hidden="true"></i>Edit
                  Page
                </a>
              </div>
            </td>
          </tr>
          <tr class="bottom-cntnt" style="height: 61px">
            <td>
              <p>7</p>
            </td>
            <td>
              <p>Faq</p>
            </td>
            <td>
              <div class="btn-group">
                <a href="/admin/pages/faq" class="Bt-btn">
                  <i class="fa fa-pencil-square" aria-hidden="true"></i>Edit
                  Page
                </a>
              </div>
            </td>
          </tr>
          <tr class="bottom-cntnt" style="height: 61px">
            <td>
              <p>8</p>
            </td>
            <td>
              <p>Login</p>
            </td>
            <td>
              <div class="btn-group">
                <a href="/admin/pages/login" class="Bt-btn">
                  <i class="fa fa-pencil-square" aria-hidden="true"></i>Edit
                  Page
                </a>
              </div>
            </td>
          </tr>
          <tr class="bottom-cntnt" style="height: 61px">
            <td>
              <p>10</p>
            </td>
            <td>
              <p>Forgot Password</p>
            </td>
            <td>
              <div class="btn-group">
                <a href="/admin/pages/forgot-password" class="Bt-btn">
                  <i class="fa fa-pencil-square" aria-hidden="true"></i>Edit
                  Page
                </a>
              </div>
            </td>
          </tr>
          <tr class="bottom-cntnt" style="height: 61px">
            <td>
              <p>11</p>
            </td>
            <td>
              <p>Sign Up</p>
            </td>
            <td>
              <div class="btn-group">
                <a href="/admin/pages/sign-up" class="Bt-btn">
                  <i class="fa fa-pencil-square" aria-hidden="true"></i>Edit
                  Page
                </a>
              </div>
            </td>
          </tr>
          <tr class="bottom-cntnt" style="height: 61px">
            <td>
              <p>12</p>
            </td>
            <td>
              <p>Reset Password</p>
            </td>
            <td>
              <div class="btn-group">
                <a href="/admin/pages/reset-password" class="Bt-btn">
                  <i class="fa fa-pencil-square" aria-hidden="true"></i>Edit
                  Page
                </a>
              </div>
            </td>
          </tr>
          <tr class="bottom-cntnt" style="height: 61px">
            <td>
              <p>13</p>
            </td>
            <td>
              <p>Business</p>
            </td>
            <td>
              <div class="btn-group">
                <a href="/admin/pages/business" class="Bt-btn">
                  <i class="fa fa-pencil-square" aria-hidden="true"></i>Edit
                  Page
                </a>
              </div>
            </td>
          </tr>
          <tr class="bottom-cntnt" style="height: 61px">
            <td>
              <p>13</p>
            </td>
            <td>
              <p>Rider</p>
            </td>
            <td>
              <div class="btn-group">
                <a href="/admin/pages/rider" class="Bt-btn">
                  <i class="fa fa-pencil-square" aria-hidden="true"></i>Edit
                  Page
                </a>
              </div>
            </td>
          </tr>
          <tr class="bottom-cntnt" style="height: 61px">
            <td>
              <p>14</p>
            </td>
            <td>
              <p>Rider Signup</p>
            </td>
            <td>
              <div class="btn-group">
                <a href="/admin/pages/rider-signup" class="Bt-btn">
                  <i class="fa fa-pencil-square" aria-hidden="true"></i>Edit
                  Page
                </a>
              </div>
            </td>
          </tr>
          
        </tbody>
      </table>
    </div>
  </div>
</section>
