<section className="uj_card">
    <div className="contain">
        <div className="table_dv">
            <div className="table_cell">
                <div className="profile_card">
                    <div className="inner">
                        <div className="logos">
                            <img src="/images/logo.png" alt />
                        </div>
                        <div className="dp_area">
                            <div className="dp">
                                <img src="/images/t2.png" alt />
                            </div>
                            <div className="name">
                                <h6>Project Manager</h6>
                                <h3>Firdous Jamal</h3>
                                <p>Email: +9764634674</p>
                                <p>Phone: abc123@gmail.com</p>
                            </div>
                            <div className="right">
                                <img src="/images/qr.png" alt />
                            </div>
                        </div>
                        <ul className="list">
                            <li>
                                <strong>City:</strong>
                                <p>Birmingham</p>
                            </li>
                            <li>
                                <strong>Address:</strong>
                                <p>block123location</p>
                            </li>
                            <li>
                                <strong>Vehicle:</strong>
                                <p>Midi Van</p>
                            </li>
                            <li>
                                <strong>Vehicle Image:</strong>
                                <img src="/images/o4.png" alt />
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>